<% include layout/head %>

  <div class="main">

    <% include layout/nav %>

    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form id="resetPasswordForm" class="form-horizontal">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" type="password" placeholder="旧密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="password" class="form-control" type="password" placeholder="新密码">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button id="resetPasswordBtn" type="submit" class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <% include layout/aside %>

<% include layout/footer %>

<script>
  // 提交修改密碼
  $("#resetPasswordBtn").on("click", e =>
  {
    e.preventDefault();
    if ($("#old").val() == "")
      alert ("您好，請輸入舊密碼。");
    else if ($("#password").val() == "")
      alert ("您好，新密碼不能為空");
    else if ($("#confirm").val() == "")
      alert ("您好，請確認新密碼");
    else if ($("#confirm").val() != $("#password").val())
      alert ("對不起，您兩次輸入的新密碼不一致");
    else
    {
      let id = window.location.search.split("=")[1];
      let $params = $("#resetPasswordForm").serialize();
      $.ajax({
        method: "post",
        url: "/postPasswordReset",
        data: {
          id: id,
          old: $("#old").val(),
          password: $("#password").val()
        },
        success: result =>
        {
          alert(result.msg);
          if (result.status == 200)
            $("#resetPasswordForm")[0].reset();
        }
      });
    }
  });
</script>
