<% include layout/head %>

  <div class="main">

    <% include layout/nav %>

    <div class="container-fluid">
      <div class="page-title">
        <h1>写文章</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form id="addPostForm" class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">标题</label>
            <input id="title" class="form-control input-lg" name="title" type="text" placeholder="文章标题">
          </div>
          <div class="form-group">
            <label for="content">內容</label>
            <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10" placeholder="内容"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="slug">别名</label>
            <input id="slug" class="form-control" name="slug" type="text" placeholder="slug">
            <p class="help-block">https://zce.me/post/<strong>slug</strong></p>
          </div>
          <div class="form-group">
            <label for="feature">特色图像</label>
            <!-- show when image chose -->
            <img id="adminImg" class="help-block thumbnail" src="../assets/img/default.png" style="height: 100px; width: 100px">
            <input id="feature" class="form-control" name="feature" type="file">
          </div>
          <div class="form-group">
            <label for="category">所属分类</label>
            <select id="category" class="form-control" name="category">
              <% for (let i = 0; i < results.length; i++) { %>
              <option value="<%= results[i].id %>"><%= results[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="created">发布时间</label>
            <input id="created" class="form-control" name="created" type="datetime-local">
          </div>
          <div class="form-group">
            <label for="status">状态</label>
            <select id="status" class="form-control" name="status">
              <option value="drafted">草稿</option>
              <option value="published">已发布</option>
            </select>
          </div>
          <div class="form-group">
            <button id="addBtn" class="btn btn-primary" type="submit">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<% include layout/aside %>

<% include layout/footer %>

<script>
  // 頭像預覽
  $("#feature").on("change", () =>
  {
    $("#adminImg").attr("src", URL.createObjectURL($("#feature")[0].files[0]));
  });

  // 提交文章
  $("#addBtn").on("click", e =>
  {
    e.preventDefault();
    const formdata = new FormData();
    formdata.append("title", $("#title").val());
    formdata.append("content", $("#content").val());
    formdata.append("slug", $("#slug").val());
    formdata.append("feature", $("#feature")[0].files[0]);
    formdata.append("category", $("#category").val());
    formdata.append("created", $("#created").val());
    formdata.append("status", $("#status").val());
    $.ajax({
      method: "post",
      url: "/addPost",
      data: formdata,
      processData: false,
      contentType: false,
      success: result =>
      {
        alert(result.msg);
        if (result.status == 200)
          window.location = "/posts";
      }
    });
  });
</script>
