<div class="aside">
    <div class="profile">
        <img id="adminAvtatr" class="avatar" src="/assets/img/default.png">
        <h3 id="adminName" class="name">管理員</h3>
    </div>
    <ul class="nav">
        <li>
        <a href="/"><i class="fa fa-dashboard"></i>儀錶盤</a>
        </li>
        <li>
        <a href="#menu-posts" class="collapsed" data-toggle="collapse">
            <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse">
            <li><a href="getPostsPage">所有文章</a></li>
            <li><a href="postAdd">寫文章</a></li>
            <li><a href="categories">分類目錄</a></li>
        </ul>
        </li>
        <li>
        <a href="comments.html"><i class="fa fa-comments"></i>評論</a>
        </li>
        <li class="active">
        <a href="users"><i class="fa fa-users"></i>用戶</a>
        </li>
        <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
            <i class="fa fa-cogs"></i>設置<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
            <li><a href="nav-menus.html">導航菜單</a></li>
            <li><a href="slides.html">圖片輪播</a></li>
            <li><a href="settings.html">網站設置</a></li>
        </ul>
        </li>
    </ul>
</div>
<script>
    // 頁面加載完畢後從session中獲取登錄賬戶的頭像和名字
    window.onload = () =>
    {
        $.ajax({
            method: "get",
            url: "/getAdminMsg",
            success: result =>
            {
                document.querySelector("#adminAvtatr").src = result.avatar ? result.avatar : "../assets/img/default.png";
                document.querySelector("#adminName").innerHTML = result.nickname;
            }
        });
    }
</script>